body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: auto;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.description {
  font-size: 18px;
}

.image-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #013243;
}

.image-section .title {
  margin: 1.5em 0 0 0;
  color: white;
}

.image-section .description {
  color: #86bfd3;
  margin-top: 0.5em;
}

.image-section img {
  margin-top: 5em;
  width: 100%;
  height: auto;
}

.login-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.login-form {
  width: 70%;
  padding: 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form {
  width: 100%;
}

.login-section .title {
  margin-top: 1.5em;
  margin-bottom: 0;
}

.login-section .label {
  line-height: 1em;
  font-weight: 700;
  margin: 1.5em 0 0.5em 0;
  font-family: "Roboto", sans-serif;
}

.login-section .user_input {
  max-width: auto;
  width: 90%;
  padding: 1.25em 0.75em;
  border-radius: 5px;
  outline: none;
  border: 2px solid silver;
}

input#terms {
  margin-left: 0;
  border: 1px solid silver;
}

input.user_input {
  font-family: "Poppins", sans-serif;
  margin-left: 0;
}

.agreement-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 240px;
  margin-top: 2em;
}

.login-section .agreement {
  font-size: 17px;
  text-align: left;
  margin: 0;
  margin-left: 5px;
}

.login-section .agreement a {
  font-size: 16px;
  color: #013243;
  font-weight: 700;
}

.btn {
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1.5em;
  margin: 1.5em 0 3em 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #013243;
  color: white;
  border: none !important;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .tablet-view {
    background: url("../Assets/Background.png") center/cover no-repeat;
  }
  main {
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
  .image-section {
    width: 80%;
  }
  .image-section img {
    margin-top: 7em;
    width: 80%;
  }
  .login-section {
    background-color: white;
    width: 80%;
  }
  .title {
    font-size: 40px;
  }
  .description {
    font-size: 24px;
  }
  .label {
    font-size: 22px;
  }
  .login-section .user_input {
    padding: 1.25em 0.9em;
    border-width: 3px;
  }
  input.user_input {
    font-size: 20px;
  }
  .login-section .agreement-container {
    width: 70%;
  }
  .login-section .agreement-container a {
    font-size: 22px;
  }
  .login-section .agreement {
    font-size: 24px;
  }
  .btn {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .tablet-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: row;
  }
  .image-section {
    width: 30em;
    height: 40em;
    border-radius: 8px 0 0 8px;
  }
  .image-section img {
    margin-top: 6.2em;
    width: 100%;
  }
  .image-section .description {
    margin-top: 0.5em;
  }
  .login-section {
    width: 30em;
    height: 40em;
    border-radius: 0 8px 8px 0;
  }
  .login-section .login-form {
    width: 70%;
    padding: 0 15% 0 15%;
  }
  .title {
    font-size: 40px;
  }
  .description {
    font-size: 24px;
  }
  .label {
    font-size: 22px;
  }
  .login-section .user_input {
    max-width: auto;
    width: 90%;
    padding: 1em 0.75em;
    border-radius: 5px;
    outline: none;
    border: 2px solid silver;
  }
  input.user_input {
    font-size: 18px;
  }
  .login-section .agreement {
    font-size: 22px;
  }
  .login-section .agreement-container {
    width: 80%;
  }
  .login-section .agreement-container a {
    font-size: 20px;
  }
  .btn {
    width: 100%;
    padding: 1em 1.25em 1em 1.25em;
  }
}
/*# sourceMappingURL=style.css.map */